@using System.Globalization
@model IEnumerable<Domain.DomainModels.Sales>
@{
    ViewData["Title"] = "المبيعات";
}
<div>
    <h1 class="text-center">المبيعات</h1>

    <a class="btn btn-success btn-lg m-2" asp-controller="Sales" asp-action="Add">تسجيل عمليه بيع</a>

    <table class="table table-bordered table-hover table-responsive">
        <thead class="text-center">
            <tr>
                <th scope="col">إسم المنتج</th>
                <th scope="col">سعر الشراء</th>
                <th scope="col"> سعر البيع</th>
                <th scope="col">الكميه</th>
                <th scope="col">الوقت</th>
                <th scope="col">السعر الكلي</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="text-center">
            @foreach (var sale in Model)
            {
                <tr>
                    <td>@sale.Product.Name</td>
                    <td>@sale.PurchasingPrice</td>
                    <td>@sale.SellingPrice</td>
                    <td>@sale.Quentity</td>
                    <td>@sale.CreatedAt.ToString("tt hh:mm yyyy MMM dd", CultureInfo.InvariantCulture).ToUpper()</td>
                    <td>@(sale.Quentity * sale.SellingPrice)</td>
                    <td class="text-center">
                        <button class="btn btn-danger" id="delete-@sale.Id" onclick="deleteClient('@sale.Id')">Delete</button>
                    </td>
                </tr>
            }


        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function deleteClient(clientId) {
        $.ajax({
            url: '/Home/Delete/' + clientId,
            type: 'PUT',
            success: function (result) {
                // On success, reload the page or remove the client row from the table
                location.reload(); // Reload the page
            },
            error: function (xhr, status, error) {
                console.error("Failed to delete client: ", error);
                alert("An error occurred while trying to delete the client.");
            }
        });
    }
</script>

